@page "/Categories"
@model CategoriesModel
@inject Zodpovedne.Logging.Services.Translator Translator
@{
    ViewData["Title"] = "Témata diskuzí";
    /* Seznam kategorii */

    //Pokud je jakýkoliv text v ErrorMessage, tak se zobrazí a zbytek stránky se nevykreslí
    if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-warning">
            <h4>@Model.ErrorMessage</h4>
        </div>
        return;
    }
    //Pokud je jakýkoliv text v StatusMessage, tak se zobrazí úplně nahoře a pokračuje se ve vykreslování stránky
    if (!string.IsNullOrEmpty(Model.StatusMessage))
    {
        <div class="alert alert-info">
            <h4>@Model.StatusMessage</h4>
        </div>
    }
}

<div class="container">
    <div class="row">
        <!-- <h1 class="mb-4 text-center" style="color: var(--text-gray);">@Translator.Translate("titlecategories", "Kategorie diskuzí")</h1> -->
        <h1 class="mb-4 text-center" style="color: var(--text-gray);">Kategorie diskuzí</h1>
    </div>

    @if (Model.Categories.Any())
    {
        <div class="row category-list">
            @foreach (var category in Model.Categories.OrderBy(c => c.DisplayOrder))
            {
                <div class="col-sm-12 col-xl-6">
                    <div class="card-kategorie"
                         onmouseover="this.classList.add('shadow'); this.classList.add('bg-white');"
                         onmouseout="this.classList.remove('shadow'); this.classList.remove('bg-white');">
                        <div class="card-body">
                            <a href="/Categories/@category.Code" class="text-decoration-none d-flex">
                                <div class="card-body-icon-wrapper">
                                    <img src="~/images/category/@category.ImagePath" alt="Alternate Text" />
                                </div>
                                <div class="card-body-content-wrapper ">
                                    <h5 class="card-title long-word-break">
                                        @category.Name
                                    </h5>
                                    @if (!string.IsNullOrEmpty(category.Description))
                                    {
                                        <p class="card-text">@category.Description</p>
                                    }
                                </div>

                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="row">
            <div class="col">
                <div class="alert alert-info">
                    Žádné kategorie nebyly nalezeny.
                </div>
            </div>
        </div>
    }
</div>