<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mámou zodpovědně</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Zodpovedne.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="site-header">
        <div class="logo-container">
            <img src="/images/logo.png" alt="logo Mámou zodpovědně" style="width: 200px; height: auto;">
        </div>
    </div>

    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link @(Url.Page("/Categories") == Context.Request.Path ? "active" : "")"
                            asp-area="" asp-page="/Categories">Diskuze na různá témata</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(Url.Page("/katalog/hracky") == Context.Request.Path ? "active" : "")"
                            asp-area="" asp-page="/katalog/hracky">Hračky</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(Url.Page("/katalog/obleceni") == Context.Request.Path ? "active" : "")"
                            asp-area="" asp-page="/katalog/obleceni">Oblečení</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(Url.Page("/katalog/elektronika") == Context.Request.Path ? "active" : "")"
                            asp-area="" asp-page="/katalog/elektronika">Elektronika</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    @if (Context.Session.GetString("JWTToken") != null)
                    {
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Admin/Users">Uživatelé</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Account/Profile">@Context.Session.GetString("UserNickname")</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Account/Logout">Odhlásit se</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Account/Login" asp-route-returnUrl="@Context.Request.Path">Přihlásit se</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Zodpovedne.Web - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
