@*
    Partial View pro zobrazení jedné karty produktu.
*@
@model Zodpovedne.Contracts.DTO.KatalogDetailDto
@{
}
<div class="product-card card h-100 col-lg-3 col-md-6 col-sm-12 mb-4 p-4 border rounded-0 bg-transparent"
     onmouseover="this.classList.add('shadow'); this.classList.add('bg-white');"
     onmouseout="this.classList.remove('shadow'); this.classList.remove('bg-white');">
    <img src="@Model.ImageUrl" class="card-img-top rounded-0" alt="Dřevěné kostky">
    <div class="card-body">
        <h5 class="product-card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
    </div>
    <div class="product-card-footer">
        <div class="d-flex justify-content-between align-items-center">
            <span style="color: var(--primary-color);font-weight:700;">Věk: 3+</span>
            <span class="fw-bold">@Model.Price Kč</span>
        </div>
        <button class="btn btn-primary mt-2 w-100"><a class="prejit-do-obchodu" target="_blank" href="@Model.Url">Přejít do obchodu</a></button>
    </div>
</div>

